.reminder {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(66, 61, 61);
  color: #fff;
  padding: 0 1rem;
  width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
